* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-y: auto;
}

body {
  line-height: 1;
  font-weight: 400;
  color: black;
  overflow-y: auto;
  background-color: #ffedd2;
}
